* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Frank Ruhl Libre', serif;
}

ul, ol{
    list-style: none;
}


/* --- HEADER --- */
.navMenu a{
    color: white;
    font-size: 17px;
}

.logo-1{
    margin-left: 10px;
    padding-bottom: 5px;
    width: 60px;
}

/* > ANIMATION < */
.fade-in{
    animation:fadeInUp 0.75s ease backwards;
}

.fade-in-slow{
    animation:fadeInUp 1s ease backwards;
}

@keyframes fadeInUp{
    0%{transform:translate(0px, 100px); opacity: 0;}
    100%{transform:translate(0px, 0); opacity: 1;}
}

/* ============INDEX============ */
.main-banner{
    background-image: url(../img/inicio/bg-index.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.banner-text{
    width: 70%;
    position: absolute;
    top: 35%;
}

.banner-text h1{
    color: white;
    font-size: 100px;
}

.banner-text h2{
    color: white;
    font-size: 25px;
    font-weight: lighter;
 
}

@media (max-width: 375px){
    .main-banner{
        background-image: url(../img/mobile/mobile-banner.png);
    }
    .banner-text{
        width: auto;
        top: 45%;
    }
    .banner-text h1{
        font-size: 65px;
    }   
}

/* ============NOSOTROS============ */
.bg-nosotros{
    background-image: url(../img/nosotros/bg-nosotros.jpg);
}

@media (max-width: 375px){
    .bg-nosotros{
        background-image: url(../img/mobile/mobile-banner.png);
    }
}

.small-title{
    color: #e62490;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}

.all-images{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.image-width{
    width: 25%;
}

.image{
    border-radius: 40px;
    padding: 5%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}

figcaption{
    color: #575757;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10%;
}


/* ============SERVICIOS============ */
.bg-servicios{
    background-image: url(../img/servicios/bg-servicios.jpg);
}

@media (max-width: 375px){
    .bg-servicios{
        background-image: url(../img/mobile/mobile-banner.png);
    }
}

.servicio-text{
    color: #000000;
    text-indent: 50px;
    font-size: 20px;
    text-align: justify;
    margin: 50px;
}

/* ============GALERIA============ */
.bg-galeria{
    background-image: url(../img/galeria/bg-galeria.jpg);
}

@media (max-width: 375px){
    .bg-galeria{
        background-image: url(../img/mobile/mobile-banner.png);
    }
}

/* ============CONTACTO============ */
.bg-contacto{
    background-image: url(../img/contacto/bg-contacto.jpg);
}

.form-width{
    width: 50%;
}

@media (max-width: 375px){
    .bg-contacto{
        background-image: url(../img/mobile/mobile-banner.png);
    }
    .form-width{
        width: auto;
    }
}

.button-color{
    background-color: #e62490;
    border: 2px solid #e62490;
    transition: 0.3s ease-in;
}

.button-color:hover{
    border: 2px solid #e62490;
    color: #e62490;
    background-color: white;
}

/* --- FOOTER --- */
footer{
    background-color: #e62490;
    padding: 15px;
} 

.logo-social{
    width: 40px;
    margin-right: 10px;
}


