* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Frank Ruhl Libre', serif;
}

ul, ol{
    list-style: none;
}

/* --- HEADER --- */
.navMenu a{
    color: white;
    font-size: 17px;
}

.logo-1{
    margin-left: 10px;
    padding-bottom: 5px;
    width: 60px;
}

/* ============INDEX============ */
.main-banner{
    background-image: url(../img/inicio/bg-index.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position-x: right;

}

.banner-text{
    width: 450px;
    position: absolute;
    top: 40vh;
    left: 10vw;
}

.banner-text h1{
    color: white;
    font-size: 100px;
    letter-spacing: 5px;
    text-align: center;
}

.banner-text h2{
    color: white;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
}

/* ============NOSOTROS============ */
.bg-nosotros{
    background-image: url(../img/nosotros/bg-nosotros.jpg);
}

.small-title{
    color: #e62490;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}

.all-images{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}


.image-width{
    width: 25%;
}

.image{
    border-radius: 40px;
    padding: 5%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}

figcaption{
    color: #575757;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10%;
}


/* ============SERVICIOS============ */
.bg-servicios{
    background-image: url(../img/servicios/bg-servicios.jpg);
}

.servicio-text{
    color: #000000;
    text-indent: 50px;
    font-size: 20px;
    text-align: justify;
    margin: 50px;
}

/* ============GALERIA============ */
.bg-galeria{
    background-image: url(../img/galeria/bg-galeria.jpg);
}


/* ============CONTACTO============ */
.bg-contacto{
    background-image: url(../img/contacto/bg-contacto.jpg);
}

.button-color{
    background-color: #e62490;
    border: 2px solid #e62490;
    transition: 0.3s ease-in;
}

.button-color:hover{
    border: 2px solid #e62490;
    color: #e62490;
    background-color: white;
}

/* --- FOOTER --- */
footer{
    background-color: #e62490;
    padding: 15px;
} 

.logo-social{
    width: 40px;
    margin-right: 10px;
}

