<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto | Regina </title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>

<!-- HEADER -->
    <header>
        <a href="index.html">
            <img class="logo-1" src="../img/logo/logo1.png" alt="Logo Regina">
        </a>
        <nav>
            <ul>
                <a href="../index.html"><li>INICIO</li></a>
                <a href="/views/nosotros.html"><li>NOSOTROS</li></a>
                <a href="/views/servicios.html"><li>SERVICIOS</li></a>
                <a href="/views/galeria.html"><li>GALERIA</li></a>
                <a href="/views/contacto.html"><li>CONTACTO</li></a>
            </ul>
        </nav>
    </header>

<!-- CONTENT -->
    <main>
        <section class="bg-index bg-contacto">
            <div class="banner-text">
                <h1>CONTACTO</h1>
                <h2>Lorem ipsum dolor sit amet</h2>
            </div>
        </section>
        <section>
            <div>
                <h3 class="small-title">DEJANOS TU CONSULTA</h3>
            </div>
            <form class="forms" action="">
                <div>
                    <label for="nombre-usuario"></label>
                    <input type="text" class="input-field" id="nombre-usuario" placeholder="Nombre y Apellido">
                </div>
                <div>
                    <label for="email-usuario"></label>
                    <input type="email" class="input-field" id="email-usuario" placeholder="E-mail">
                </div>
                <div>
                    <label for="tel-usuario"></label>
                    <input type="tel" class="input-field" id="tel-usuario" placeholder="Telefono">
                </div>
                <div>
                    <label for="consulta-usuario"></label>
                    <textarea name="" class="input-field text-field" id="consulta-usuario" rows="5" placeholder="Escribe tu consulta"></textarea>
                </div>
				<input type="submit" class="button" value="Enviar">
			</form>
        </section>
    </main>

<!-- FOOTER -->
    <footer>
        <a href="#"> <img class="logo-social" src="../img/logo/logo2.png" alt="Logo Facebook"></a>
        <a href="#"> <img class="logo-social" src="../img/logo/logo3.png" alt="Logo Instagram"></a>
        <a href="#"> <img class="logo-social" src="../img/logo/logo4.png" alt="Logo Youtube"></a>
    </footer>
</body>
</html>