<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Maquillaje de novia, quinceañera, para eventos sociales y campañas de moda/publicidad">
    <title>Regina | Galeria </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<!-- HEADER -->
<body>
    <header class="bg-galeria">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="../index.html">
                <img class="logo-social" src="../img/logo/logo1.png" alt="Logo Regina">
            </a>
            <div class="container-fluid nav-menu">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="nosotros.html">NOSOTROS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="servicios.html">SERVICIOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="galeria.html">GALERIA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacto.html">CONTACTO</a>
                        </li>
                    </ul>
                </div>
            </div>
         </nav>
    </header>

<!-- CONTENT -->
    <main>
        <section class="text-position position-absolute">
            <div class="text-center d-flex justify-content-center flex-column align-items-center">
                <h1 class="fade-in-text">GALERIA</h1>
                <h2 class="fade-in-text--slow ">Algunos de nuestros trabajos</h2>
            </div>
        </section>
        <section>
            <div class="d-flex justify-content-center align-items-center">
                <h3 class="text-center my-5">RESALTAMOS TU BELLEZA</h3>
            </div>
        </section>
        <section class="container">
            <section class="row justify-content-around ">
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/1.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer de piel blanca con maquillaje de novia simple: base, rubor, delineado fino negro, labial rojo sutil, sombra sutil, mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Karen Ellison</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/2.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer de piel blanca con maquillaje para eventos/moda: base, delineado grueso morado claro, labial rosa, sombra multicolor de rosa, morado y amarillo, mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Regina York</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/3.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer de piel oscura con maquillaje para eventos/moda: base, delineado grueso negro, gloss, mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Cady Melendez</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/4.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer de piel blanca con maquillaje artistico inspirado en Dia de los Muertos">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Gretchen Crowell</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/5.jpg" class="img-fluid rounded" loading="lazy" alt="Hombre de piel oscura con maquillaje para eventos/moda: base, delineado negro, gloss, sombra multicolor de purpura con brillos y azul, pestañas falsas con mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Regina York</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/6.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer de piel morena clara con maquillaje para eventos/moda: base, delineado negro, labial nude, piedritas brillantes en los ojos con sombra rosa sutil, mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Gretchen Crowell</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/7.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer de piel morena clara con maquillaje para eventos: base, delineado negro, gloss, sombra oscura sutil, mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Karen Ellison</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/8.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer de piel blanca para eventos/moda: base, rubor, delineado negro, labial rosa oscuro, sombra estilo smokey, mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Cady Melendez</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/9.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer de piel morena con maquillaje para eventos/moda: base, labial marron, sombra dorada, mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Gretchen Crowell</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/10.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer de piel blanca con maquillaje para eventos/moda: base, delineado grueso negro, labial anaranjado, sombra multicolor de azul, violeta y rosa, mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Regina York</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/11.jpg" class="img-fluid rounded" loading="lazy" alt="Hombre de piel oscura con maquillaje para eventos/moda: rubor, delineado fino negro, gloss, sombra multicolor de naranja, celeste y violeta, mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Regina York</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/12.jpg" class="img-fluid rounded" loading="lazy" alt="Mujeres con maquillaje para eventos/moda. La primera de piel morena clara con: sombra naranja, gloss, mascara y la segunda de piel morena clara con vitiligo: labial anaranjado, piedritas brillantes en los ojos">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Cady Melendez</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/13.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer con maquillaje artistico estilo gato: bodypaint verde, labial negro, sombra negra, pestañas falsas">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Gretchen Crowell</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/14.jpg" class="img-fluid rounded" loading="lazy" alt="Hombre de piel oscura con maquillaje para eventos/moda: delineado fino negro, labial marron, sombra multicolor de violeta y amarillo, pestañas falsas con mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Cady Melendez</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/15.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer de piel blanca con maquillaje para eventos/moda: base, rubor, delineado fino negro, labial rosa oscuro sutil, piedritas brillantes en los ojos, sombra multicolor de naranja y blanco, pestañas falsas con mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Gretchen Crowell</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/16.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer de piel blanca con maquillaje para eventos/moda: base, delineado fino negro, labial nude, mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Karen Ellison</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/17.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer de piel oscura con maquillaje para eventos/moda: base, rubor, delineado grueso negro, labial rojo, sombra multicolor de violeta oscuro, naranja, blanco y rosa, pestañas falsas con mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Regina York</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/18.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer de piel blanca con maquillaje para eventos/moda: base, rubor, delineado fino negro, labial rosa sutil, sombra rosa sutil">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Cady Melendez</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/19.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer de piel oscura con maquillaje de novia: base, delineado grueso negro en los parpados y delineado blanco en la línea de agua inferior, gloss, sombra de ojos rosa sutil, mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Karen Ellison</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/galeria/20.jpg" class="img-fluid rounded" loading="lazy" alt="Mujer de piel blanca con maquillaje para eventos/moda: base, delineado fino negro, labial nude, mascara">
                    <figcaption class="figure-caption text-center img-text mb-5">Maquilladora: Karen Ellison</figcaption>
                </figure>
            </section>
        </section>
    </main>

<!-- FOOTER -->
    <footer class="footer-design">
        <div class="d-flex justify-content-center">
            <a href="#"> <img class="footer-design--logo" src="../img/logo/logo2.png" alt="Logo Facebook"></a>
            <a href="#"> <img class="footer-design--logo" src="../img/logo/logo3.png" alt="Logo Instagram"></a>
            <a href="#"> <img class="footer-design--logo" src="../img/logo/logo4.png" alt="Logo Youtube"></a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>