<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Equipo de maquilladoras profesionales de gran talento y con amplia experiencia">
    <title>Regina | Nosotros </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<!-- HEADER -->
<body>
    <header class="bg-nosotros">
        <nav class="navbar navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="../index.html">
                <img class="logo-social" src="../img/logo/logo1.png" alt="Logo Regina">
            </a>
            <div class="container-fluid nav-menu">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="nosotros.html">NOSOTROS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="servicios.html">SERVICIOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="galeria.html">GALERIA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contacto.html">CONTACTO</a>
                        </li>
                    </ul>
                </div>
            </div>
         </nav>
    </header>
<!-- CONTENT -->
    <main>
        <section class="text-position position-absolute">
            <div class="text-center d-flex justify-content-center flex-column align-items-center">
                <h1 class="fade-in-text">NOSOTROS</h1>
                <h2 class="fade-in-text--slow ">Maquilladoras profesionales de gran talento</h2>
            </div>
        </section>
        <section>
            <div class="d-flex justify-content-center align-items-center">
                <h3 class="text-center my-5">CONOCÉ EL EQUIPO DE REGINA</h3>
            </div>
        </section>
        <section class="container">
            <section class="row justify-content-around">
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/nosotros/1.jpg" class="img-fluid rounded" loading="lazy" alt="Maquillaje Regina">
                    <figcaption class="figure-caption text-center img-text mb-5">Regina York - Social/Moda</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/nosotros/2.jpg" class="img-fluid rounded" loading="lazy" alt="Maquillaje Regina">
                    <figcaption class="figure-caption text-center img-text mb-5">Gretchen Crowell - Social/Artistico</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/nosotros/3.jpg" class="img-fluid rounded" loading="lazy" alt="Maquillaje Regina">
                    <figcaption class="figure-caption text-center img-text mb-5">Cady Melendez - Social/Moda</figcaption>
                </figure>
                <figure class="col-lg-3 col-sm-6 col-12">
                    <img src="../img/nosotros/4.jpg" class="img-fluid rounded" loading="lazy" alt="Maquillaje Regina">
                    <figcaption class="figure-caption text-center img-text mb-5">Karen Ellison - Social/Novia</figcaption>
                </figure>
            </section>
        </section>
    </main>

<!-- FOOTER -->
    <footer class="footer-design">
        <div class="d-flex justify-content-center">
            <a href="#"> <img class="footer-design--logo" src="../img/logo/logo2.png" alt="Logo Facebook"></a>
            <a href="#"> <img class="footer-design--logo" src="../img/logo/logo3.png" alt="Logo Instagram"></a>
            <a href="#"> <img class="footer-design--logo" src="../img/logo/logo4.png" alt="Logo Youtube"></a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>