/* === GALERIA === */
.bg-galeria{
    @extend.main-bg;
    background-image: url(../img/galeria/bg-galeria.jpg);
    @include mobile-lg(){
        background-image: url(../img/mobile/mobile-banner.png);
    }
}

.img-text{
    font-size: 1.3rem;
}
