/* --- TYPOGRAPHY --- */
h1{
    color: $secondary-color;
    font-size: clamp(4rem, 7vw, 6rem );
    
}

h2{
    color: $secondary-color;
    font-size: 1.5rem;
    font-weight: lighter;
}

.header-position{
    width: 450px;
    top: 40vh;
    left: 15vw;
    @include mobile-lg(){
        height: 40vh;
        top: 50vh;
        width: 70%;
    }
}

.fade-in-text{
    animation:fadeInUp 0.75s ease backwards;
    &--slow{
        animation:fadeInUp 1s ease backwards;
    }
}

@keyframes fadeInUp{
    0%{transform:translate(0px, 100px); opacity: 0;}
    100%{transform:translate(0px, 0); opacity: 1;}
}

h3{
    color: $main-color;
    font-size: 2rem;
}

p{
    font-size: 1.2rem;
}

.img-text{
    font-size: 1.2rem;
}
